.top {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    width: 100%;
    height: 60px;
    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 100;
}

.topLeft, .topRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topIcon {
    font-size: 20px;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}

.menuIcon {
    display: none;
}

.topCenter {
    flex: 6;
}

.topList {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.topListItem {
    margin-right: 25px;
    font-size: 18px;
    font-weight: 300;
    color: white;
    cursor: pointer;
}

.topListItem:hover {
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}

.topSearchIcon {
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-left: 15px;
}

@media screen and (max-width: 920px) {
    .top {
        position: relative;
    }
    
    .topCenter {
        width: 100vw;
    }

    .topList {
        display: flex;
        flex-direction: column;
        width: 100vw;
        min-height: 25vh;
        position: absolute;
        top: 60px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .topList.active {
        background-color: black;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .menuIcon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.5rem;
        cursor: pointer;
        margin-left: 20px;
    }

    .topListItem {
        font-size: 25px;
        padding: 10px 0px;
        text-align: center;
        margin-right: 0px;
    }
    
    .topRight {
        display: none;
    }
}